$breakpoints: (
  's': 'screen and (min-width: 300px)',
  'l': 'screen and (min-width: 700px)',
) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
}

:root{
    --app-height: 100%;
    @include mq(s){
        --main-red:#ff0000;
        --font-size-large:16px;
        --font-size-middle:13px;
        --font-size-small:10px;
        --panel-padding:20px 15px 20px 30px;
    }
    @include mq(l){
        --main-red:#d80000;
        --font-size-large:22px;
        --font-size-middle:18px;
        --font-size-small:14px;
        --panel-padding:40px 30px 40px 50px;
    }
}


#info-bar{
    z-index:102;
    position: fixed;
    bottom:unset;
    top:45px;
    right:180px;
    text-align: right;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    color: white;
    

    #slide-no{
        transform-origin: calc(100% + 105px) 20px;
        transform: rotate(90deg);
        transition: 1s 0.3s;
        &.roll{
            transform: rotate(0deg);
        }
    }
    #slide-title{
        transform-origin: calc(100% + 105px) 20px;
        transform: rotate(90deg);
        transition: 1s;
        &.roll{
            transform: rotate(0deg);
        }
    }
}


#main-slide{
    width:100vw;
    height:100vh;
    height: 100vh;
    height: var(--app-height);
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior:none;
    scroll-snap-type: y proximity;
    perspective: 200px; //for paralax
}
#main-slide::-webkit-scrollbar{
    display: none;
}

.slide-frame{
    background: var(--main-red);
    z-index:1;
    width:100vw;
    min-height:100vh;
    scroll-snap-align: start;
    font-family:Arial, Helvetica, sans-serif;
    .slide{
        position: relative;
        width:inherit;
        max-width: 700px;
        margin:0 auto;
        z-index:2;
        padding:180px 20px 20px 20px;
        
        //transform: translate3d(0,0,0); //iOS safariのクソバグを抑止
        .panel{
            position: relative;
            margin:20px 20px 100px 20px;
            padding:var(--panel-padding);
            color:var(--main-red);
            background: white;
            z-index: 10;
            &::before{
                position: absolute;
                border-top: solid 1px white;
                border-left: solid 1px white;
                content: '';
                top:-15px;left: -15px;
                width: 50px;
                height: calc(100% + 15px);
            }
            &::after{
                position: absolute;
                border-right: solid 1px white;
                border-bottom: solid 1px white;
                content: '';
                bottom:-15px;right: -15px;
                width: 50px;
                height: calc(100% + 15px);
            }
            p{
                font-size: var(--font-size-large);
            }
            a{
                color:var(--main-red);
                text-decoration: none;
                &.small{
                    font-size: var(--font-size-small);
                    vertical-align: top;
                    margin:2px;
                }
                i{
                    margin:0px 3px;
                }
            }
            table{
                margin:10px auto;
                width:100%;
                font-size: var(--font-size-middle);
                text-align: center;
            }

        }
        .back-panel{
            position: fixed;
            width: 100px;
            height:100px;
            transform: translateZ(-100px) scale(2);
            z-index:5; 
            background: wheat;
            .fa-n2f-opt{
                font-size: 200px;
                color: white;
            }
        }
        
    }
    &:nth-of-type(2n){
        background: blue;
    }
}


